config.json
mem.pkl
mem.pkl.json
tests/
front/
endpoints/

.idea
.venv
__pycache__
.python

ExternalTriggers/bl.json
ExternalTriggers/BLTrigger.py
routines/BLRoutine.py
test.py

ClusterCore.py
demo.py
testasyncclient.py

SMSTrigger.py
DiscordTrigger.py
test.html


gateways/*
!gateways/
!gateways/Gateway.py

packages/ConfigManager3.py

routines/*
!routines/
!routines/TestJsonRoutine.json

services/*
!services/
!services/Service.py
!services/TestService.py

triggers/*
!triggers/
!triggers/Trigger.py

doc.md